body {
    font-family: Montserrat;
    background-color: whitesmoke;

}

a {
    color: orange;
}

.row {
    padding: 30px 50px;
}


.main {



    background-image: url("../images/background.jpg");
    height: 120vh;
    background-attachment: fixed;
    background-size: 100%;
    color: white;


    .center {
        text-align: center;
    }

    .logo {
        font-size: 18px;
        margin: 10px 0px;
        display: inline-block;
        font-family: 'Josefin Sans', sans-serif;

    }

    .head-main {
        text-align: center;
        font-size: 43px;
        font-weight: 700;
        margin-top: 75px;
        margin-bottom: 0px;
    }

    .head-sup {
        text-align: center;
        font-size: 19px;
        margin: 15px 0px;
    }

    .join {
        border: 0px solid;

        background-color: turquoise;
        padding: 10px 20px;
        text-align: center;
        border-radius: 5px;
        font-size: 24px;
        color: white;
        width: 300px;
        margin-top: 10px;
        font-weight: 600;



    }

    .join:hover {
        box-shadow:0px 0px 20px #01ffe5;
    }
    .menu {
        display: inline-block;
        list-style: none;
        float: right;

        .menu-items {
            display: inline-block;
            margin: 10px;
            font-size: 16px;
            cursor: pointer;
        }
        .menu-items:hover{
          text-shadow:0px 0px 20px white;
        }
    }


}

.schedule {
    background-color: transparent;
    height: 60vh;

    .sch_box {
        margin-top: -310px;
        background-color: white;
        border-radius: 20px;
        padding: 20px 30px;
        box-shadow: 0px 0px 15px #c3c3c3;


        .sch_head {
            font-size: 43px;
            text-align: center;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .calendar {
            width: 50%;
            display: inline-block;

            .month {
                padding: 20px 0px;
                width: 100%;
                font-size: 25px;
                font-weight: 700;
                text-align: center;
                color: black;
            }

            .month ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }

            .month ul li {
                color: #333;
                font-size: 20px;
                text-transform: uppercase;
                letter-spacing: 3px;
            }

            .weekdays {
                margin: 0;
                padding: 20px 0;

                width: 100%;
                font-size: 18px;

            }

            .weekdays li {
                display: inline-block;
                font-size: 18px;
                width: 13.2%;
                color: #bbb;
                text-align: center;
            }

            .days {
                padding: 20px 0;
                padding-top: 0px;
                margin: 0;
                width: 100%;
                font-size: 18px;
            }

            .days li {
                list-style-type: none;
                display: inline-block;
                width: 13.2%;
                text-align: center;
                margin: 10px 0px;

                color: #777;
            }

            .days li .active {

                padding: 8px 10px;
                border-radius: 100%;
                background: turquoise;


                color: white !important
            }


        }

        .points {
            width: 49%;
            vertical-align: top;
            margin: 5px 0px;
            display: inline-block;

            .onthelist {
                padding: 20px 0px;
                width: 100%;
                font-size: 25px;
                font-weight: 700;
                text-align: center;
                color: black;

                ul {
                    list-style: none;
                    padding: 0px;

                    li {
                        color: #333;
                        font-size: 20px;
                        text-transform: uppercase;
                        letter-spacing: 3px;
                    }
                }
            }

            .points_list {

                list-style: none;
                padding: 0px;

                li {
                    margin: 30px 20px;
                    font-size: 23px;

                    sup {
                        color: turquoise;
                    }
                }
            }
        }

    }

    .dnd {

        color: #a5a5a5;
        font-size: 16px;
        text-align: center;
        margin-top: 80px;
        margin-bottom: 20px;

        p {
            margin: 5px;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .row {
        padding: 20px;
    }

    body {
        background-color: white;
    }

    .main {
        background-size: auto;
        height: auto;
        min-height: 100vh;

        .logo {
            font-size: 17px;
            display: block;
            text-align: center;
            margin: 20px 0px 10px 0px;
        }

        .menu {
            margin: auto;
            text-align: center;
            float: none;
            display: block;
            padding: 0px;
        }

        .join {
            width: 100%;
        }

        .head-main {
            font-size: 33px;
            text-align: left;
            margin-top: 35px;

        }

        .head-sup {
            font-size: 16px;
            text-align: left;
        }

        .dnd {
            float: none;
            text-align: center;
            margin-bottom: 20px;
        }



    }

    .schedule {
        .sch_box {
            margin: 0px;
            padding: 0px;
            box-shadow: none;

            .sch_head {
                font-size: 33px;
            }

            .calendar {
                width: 100%;

                .weekdays li {

                    width: 12.6%;

                }

                .days li {
                    width: 12.6%;
                }
            }

            .points {
                width: 100%;
                padding: 10px;

                .points_list {
                    li {
                        margin: 30px 0px;
                        font-size: 21px;

                        
                    }
                }
            }
        }

    }

    .dnd {
        font-size: 16px;
    }

}