body {

    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2px;
}

.whole-logo {
    margin-bottom: 50px;
}

.logo {
    font-family: 'Space Mono', monospace;
    font-weight: 600;
    font-size: 32px;

    vertical-align: top;
    margin-left: 5px;
}

.main-content {
    padding: 100px;
    padding-top: 30px;
}

.head {
    font-weight: 900;
    font-size: 50px;
    margin: 20px 0px;
}

.content {
    font-size: 20px;
}

#email {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
}

form {
    margin: 40px 0px;
}

.slack-join {
    font-size: 22px;
}

.next-session {
    background-color: #e9e9e9;
    height: 100vh;
    color: #828282;
    text-align: center;
    padding: 140px 0px;
}

.next-on {
    font-size: 30px;
    font-weight: 900;
}

.date {
    font-size: 65px;
    font-weight: 900;
    color: #FFA000;
}

@media only screen and (max-width: 700px) {
    .main-content {
        padding: 30px;
        text-align: center;
    }
    .head{
        text-align: left;
        font-size: 40px;

    }
    .content{
        text-align: left;
    }
}