body {
    font-family: 'Montserrat', sans-serif;
    color: #2E2E2E;
}



.logo {
    font-weight: 800;
    font-size: 24px;
    font-family: "Comfortaa";
    vertical-align: text-bottom;
    margin-left: 10px;
}

.navigation-row {
    height: 10vh;
}

.navigation {
    float: right;
 padding-top: 28px;
}

.bsoc {
   padding-top: 25px;
}

.nav-items {
    font-size: 14px;
    margin-left: 20px;
}

.main-content {
   padding: 30px 0px;
   
    text-align: center;
    height: 60vh;
}

.head {
    font-weight: 900;
    font-size: 45px;
    margin: 0px;
    margin-bottom: 20px;
}

.content {
    font-size: 20px;
}

#email {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #cdcccc;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    vertical-align: top;
    height: 52px;
}

form {
    margin: 20px 0px;
}

button {
    background-color: #74E674;
    border-radius: 5px;
    border: 0px solid;
    padding: 10px;
    color: white;
    width: 55px;
    height: 52px;
    margin-left: 10px;
}

.slack-join {
    margin: 20px 0px;
    font-size: 20px;
}

.next-session {

 
    color: #828282;
    text-align: center;
    padding: 30px 0px;
    background-color: #2E2E2E;
    height: 30vh;
}

.next-on {
    font-size: 19px;
    color: white;
}

.date {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 300;
    color: #FF9900;
}
.banner-text{
   
    color: #FF9900;
    
}

@media only screen and (max-width: 700px) {
    .main-content {
        padding: 30px;
        text-align: center;
    }
    .logo {
        margin-left: 0px;
    }
    #email {
        width: 100%
    }
    .head {
        text-align: left;
        font-size: 40px;
    }
    .content {
        text-align: left;
    }
}